<%= form_with(model: sonos_system) do |form| %>
  <% if sonos_system.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(sonos_system.errors.count, "error") %> prohibited this sonos system from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
          <% sonos_system.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <div class="field">
    <%= form.text_field :name, class: 'input', placeholder: 'Name' %>
  </div>

  <div class="field">
    <label class="checkbox">
      <%= form.check_box :default %>
      Default system
    </label>
  </div>

  <div class="actions">
    <%= form.submit 'Save', class: 'button is-primary' %>
  </div>
<% end %>
