<h1 class="title">Sonos Systems</h1>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sonos_systems.each do |sonos_system| %>
      <tr>
        <td><%= sonos_system.name %></td>
        <td><%= sonos_system.default %></td>
        <td><%= link_to 'Show', sonos_system, class: 'button' %></td>
        <td><%= link_to 'Edit', edit_sonos_system_path(sonos_system), class: 'button' %></td>
        <td><%= link_to 'Destroy', sonos_system, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-outlined' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sonos System', new_sonos_system_path %>
