<p id="notice"><%= notice %></p>

<h1>Sonos Systems</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sonos_systems.each do |sonos_system| %>
      <tr>
        <td><%= sonos_system.name %></td>
        <td><%= sonos_system.ip %></td>
        <td><%= link_to 'Show', sonos_system %></td>
        <td><%= link_to 'Edit', edit_sonos_system_path(sonos_system) %></td>
        <td><%= link_to 'Destroy', sonos_system, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sonos System', new_sonos_system_path %>
