<p>
  <strong>Name:</strong>
  <%= @sonos_system.name %>
</p>

<p>
  <strong>IP:</strong>
  <%= @sonos_system.ip %>
</p>

<p>
  <strong>Default:</strong>
  <%= @sonos_system.default %>
</p>

<%= link_to 'Edit', edit_sonos_system_path(@sonos_system) %> |
<%= link_to 'Back', sonos_systems_path %>
