<h1 class="title">Charts</h1>

<table class="table">
<% @albums.each_with_index do |album, index| %>
  <tr>
    <td>
      <p class="title is-2">
        <%= index + 1 %>
      </p>
    </td>
    <td>
      <div class="media-left">
        <figure class="image is-64x64">
          <%= link_to album_path(album) do %>
            <%= image_tag album.get_artwork, alt: album.title %>
          <% end %>
        </figure>
      </div>
    </td>
    <td>
      <p class="title is-2 mb-4"><%= album.title %></p>
      <p class="subtitle is-4">Plays: <%= album.play_count %></p>
    </td>
  </tr>
<% end %>

