<h1 class="title">Charts</h1>

<table class="table">
<% @albums.each_with_index do |album, index| %>
  <tr>
    <td>
      <h1 class="title"><%= index + 1 %></h1>
    </td>
    <td>
      <div class="media-left">
        <figure class="image is-64x64">
          <%= link_to album_path(album) do %>
            <%= image_tag album.get_artwork, alt: album.title %>
          <% end %>
        </figure>
      </div>
    </td>
    <td>
      <p class="title is-2 mb-0"><%= album.title %></p>
      <p class="title is-4">Play count: <%= album.play_count %></p>
    </td>
  </tr>
<% end %>
</table>

<p>Total plays: <%= @total_plays['total_plays'] %></p>
