<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <article class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</p>
      </div>
      <div class="message-body">
        <ul>
          <% album.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </article>
  <% end %>

  <div class="field block">
    <%= form.text_field :title, class: 'input', placeholder: 'Album title' %>
  </div>

  <fieldset>
    <div class="block">
      <h2>Songs in this album</h2>
      <%= form.fields_for :titles do |titles_form| %>
        <%= render "title_fields", f: titles_form %>
      <% end %>
    </div>
    <div class="block">
      <%= link_to_add_fields "Add Song", form, :titles %>
    </div>
  </fieldset>

  <div class="actions">
    <%= form.submit 'Save', class: 'button is-primary' %>
  </div>
<% end %>
