<div class="nested-fields">
    <%= f.hidden_field :_destroy %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :audio_data %>
        <%= f.file_field :audio_data %>
    </div>
    <div>
        <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>
