<div class="columns is-mobile">
  <div class="column">
    <div class="title">Albums</div>
  </div>
  <div class="column is-pulled-right">
    <%= link_to 'New Album', new_album_path, class: 'button is-primary' %>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.order(:title).each do |album| %>
      <tr>
        <td><%= album.title %></td>
        <td><%= link_to 'Show', album, class: 'button' %></td>
        <td><%= link_to 'Edit', edit_album_path(album), class: 'button' %></td>
        <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-outlined' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
