<p id="notice"><%= notice %></p>

<h1>
  <%= @album.title %>
</h1>
<p>
  <%= link_to 'Play on Sonos', play_album_path(@album) %>
</p>
<p>
  <%= image_tag @album_artwork_url, width: 300 %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
