<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= @title.album_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @title.title %>
</p>

<%= link_to 'Edit', edit_title_path(@title) %> |
<%= link_to 'Back', titles_path %>
