<!DOCTYPE html>
<html>
  <head>
    <title>MusicHistoryWall</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render partial: 'layouts/menu' %>

    <section class="section">
      <div class="container content">

        <% flash.each do |type, msg| %>
          <div class="alert alert-info">
            <div class="container">
              <div class="notification is-primary">
                <%= msg %>
              </div>
            </div>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </section>
  </body>
</html>
